<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NPOI.HPSF" publicKeyToken="0DF73EC7942B34E1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI" publicKeyToken="0DF73EC7942B34E1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI.HSSF" publicKeyToken="0DF73EC7942B34E1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI.POIFS" publicKeyToken="0DF73EC7942B34E1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI.DDF" publicKeyToken="0DF73EC7942B34E1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
