<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
		<section name="seasar" type="Seasar.Framework.Xml.S2SectionHandler, Seasar" />
	</configSections>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d [%t] %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>

	<seasar>
		<assemblys>
		</assemblys>
	</seasar>
	
</configuration>